# Server Configuration
PORT=5000
NODE_ENV=development

# MySQL Database Configuration
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=your_local_db_password
DB_NAME=hotelReserve

# Authentication Secret
JWT_SECRET=generate_a_long_random_string_here_for_jwt_signature

# AWS S3 Storage Config (Optional for Local, Mandatory for Production EC2)
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=us-east-1
AWS_S3_BUCKET_NAME=
